*{
    font-family: 'Roboto', sans-serif;
}

.container{
    position: absolute;
    display: flex;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.country{
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 5px;
    border: 1px solid #eee;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .4s;
}

.country.selected{
    background-color: #333;
    color: white;
}

.country:hover{
    border: 1px solid #333;
    cursor: pointer;
    transition: .4s;
}

.cart{
    position: absolute;
    right: 20%;
    top: 10%;
}

.cart span{
    left: 35px;
    top: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #444;
    border-radius: 50%;
    color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 13px;
    
}